<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href={{ asset('css/menu.css') }} rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <style>
        span {
            color: #4399FF;
        }
    </style>
    <body>

        <div id="menu">
            <div id="logo">
                <a href=""><img src={{ asset('css/Logo.png') }} alt="ACME logo"></a>
                <a href=""><strong><span>Net</span></strong>Series</a>
            </div>

            <div id="buttons">

                {% if app.user %}
                [{{ app.user.email }}]
                <div class="button">
                    <a href="{{  path('app_logout')  }}">Logout</a>
                </div>

                {% else %}
                <div class="button">
                    <a href="{{  path('app_login')  }}">Login</a>
                </div>

                <div class="button" id="signUp">
                    <a href="{{  path('app_register')  }}">Sign up now !</a>
                </div>
                {% endif %}
            </div>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>