{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/rating_list.css') }} rel="stylesheet">
{% endblock %}

{% block title %}Rating index{% endblock %}

{% block body %}
    <h1>Rating index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Poster</th>
                <th>Series</th>
                <th>Value</th>
                <th>Comment</th>
                <th>Date</th>
                <th>Is moderate</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td> <img id="poster" src='{{ path('app_poster_show', {'id': rating.series.id}) }}'> </td>
                <td> {{rating.series.title}} </td>
                <td>{{ rating.value }}</td>
                <td>{{ rating.comment }}</td>
                <td>{{ rating.date ? rating.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ rating.estModere ? "✅" : "❌" }} </td>
                <td> 
                    <a href="{{ path('app_rating_accept_critic', {'id' : rating.id}) }}">Accept</a> 
                    <a href="{{ path('app_rating_decline_critic', {'id' : rating.id}) }}">Decline</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {# Permet de mettre en place la pagination des notes/critique des utilisateurs #}
    <div class="navigation">
        {{ knp_pagination_render(ratings) }}
    </div>

{% endblock %}
