{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/series.css') }} rel="stylesheet">
{% endblock %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>


    {% if app.user %}
        <a href="{{ path('app_followed_series') }}">Voir mes séries suivies</a>
    {% endif %}

    <div class="series">
        {% for series in series %}
            <div class="serie">
                <div class="imgSerie">
                    <img id="poster" src='{{ path('app_poster_show', {'id': series.id}) }}'>
                </div>
                <div class="titleSerie">
                    {{ series.title }}
                </div>
                <div class="showSerie">
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
                </div>
                {% if app.user %}
                    <a href="{{ path('follow_series', {'id': series.id}) }}">Suivre</a>
                {% endif %}

            </div>
        {% endfor %}
    </div>

    
    <div class="navigation">
        {{ knp_pagination_render(series) }}
    </div>

    
{% endblock %}
