{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
    <h1>Series index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Poster</th>
            </tr>
        </thead>
        <tbody>
        {% for series in series %}
            <tr>
                <td>{{ series.title }}</td>
                <td> <img src='{{ path('app_poster_show', {'id': series.id}) }}' >  </td>
                
                <td>
                    <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
                    {% if app.user %}
                        <a href="{{ path('follow_series', {'id': series.id}) }}">Ajouter à ma liste</a>
                    {% endif %}    
                            
                </td>
                
                
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(series) }}
    </div>

    
{% endblock %}
