{% extends 'base.html.twig' %}

{% block title %}New Series{% endblock %}

{% block body %}
    <h1>Import new Series</h1>

    {% for flash in app.flashes('danger') %}
        {% if flash == 'Cette série est déjà dans la base de données' %}
            <div class="alert alert-danger">
                {{ flash }}
            </div>
        {% endif %}
    {% endfor %}

    {% for flash in app.flashes('success') %}
        <div class="alert alert-success">
            {{ flash }}
        </div>
    {% endfor %}

    <form method="get">
        <div class="form-group">
            <label for="series_name">Name</label>
            <input type="text" name="title" placeholder="Search a IMDB serie" class="form-control" id="series_name">
            <input type="submit" value="search" class="btn btn-primary">
        </div>
    </form>
    
    {% if data.Title is defined %}
{# data.Year is defined like "yearStart-yearEnd" so we need to split it #}
{% set yearStart = data.Year|split('–')|first %}
{% set yearEnd = data.Year|split('–')|last %}
    <table>
        <tr>
            <th>Title</th>
            <th>Plot</th>
            <th>Genre</th>
            <th>Director</th>
            <th>Actors</th>
            <th>Award(s)</th>
            <th>Year start</th>
            <th>Year end</th>
            <th>imdbRating</th>
            <th>Poster</th>
            <th>Trailer</th>
            <th>Actions</th>

        </tr>
            <tr>
                <td>{{ data.Title }}</td>
                <td>{{ data.Plot }}</td>
                <td>{{ data.Genre }}</td>
                <td>{{ data.Director }}</td>
                <td>{{ data.Actors }}</td>
                <td>{{ data.Awards }}</td>
                <td>{{ yearStart }}</td>
                <td>{{ yearEnd }}</td>
                <td>{{ data.imdbRating }}</td>
                <td><img src="{{ data.Poster }}" alt="{{ data.Title }}"></td>
                <td>

                <a href="{{ videoUrl }}" target="_blank">trailer</a></td>
                <td>
                    
                        <form method="post" action="{{ path('app_series_import') }}">
                        <input type="hidden" name="title" value="{{ data.Title }}">
                        <input type="hidden" name="plot" value="{{ data.Plot }}">
                        <input type="hidden" name="genre" value="{{ data.Genre }}">
                        <input type="hidden" name="director" value="{{ data.Director }}">
                        <input type="hidden" name="actors" value="{{ data.Actors }}">
                        <input type="hidden" name="awards" value="{{ data.Awards }}">
                        <input type="hidden" name="yearStart" value="{{ yearStart }}">
                        <input type="hidden" name="yearEnd" value="{{ yearEnd }}">
                        <input type="hidden" name="imdbRating" value="{{ data.imdbRating }}">
                        <input type="hidden" name="poster" value="{{ data.Poster }}">
                        <input type="hidden" name="trailer" value="{{ videoUrl }}">
                        <input type="hidden" name="imdbID" value="{{ data.imdbID }}">
                        {% if episodesData is defined %}
                        <input type="hidden" name="episodesData" value="{{ episodesData|json_encode }}">
                        {% endif %}
                        <input type="hidden" name="token" value="{{ csrf_token('series') }}">
                        <input type="submit" value="Import" class="btn btn-primary">
                    </form>
                    
                    </td>
            </tr>
            
    </table>
    {% endif %}

    {% if episodesData is defined %}

    <table>
        <tr>
            <th>Season</th>
            <th>Episode</th>
            <th>Title</th>
            <th>Released</th>
            <th>imdbRating</th>
            <th>imdbID</th>
        </tr>
        <tr>
        <tr>
        {% for seasonData in episodesData %}
        {% if seasonData.Response == 'True' %}
            {% for episode in seasonData.Episodes %}
                    <td>Season {{ seasonData.Season }}</td>
                    <td>{{ episode.Episode }}</td>
                    <td>{{ episode.Title }}</td>
                    <td>{{ episode.Released }}</td>
                    <td>{{ episode.imdbRating }}</td>
                    <td>{{ episode.imdbID }}</td>
                </tr>
            {% endfor %}
        {% endif %}
        {% endfor %}
        </tr>
    </table>




{% endif %}


    <a href="{{ path('app_series_index') }}">back to list</a>
{% endblock %}
