{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>{{ series.title }}</h1>
    {# Permet de revenir à la page où il y a toute les séries #}
    <a class="back" href="{{ path('app_series_index') }}">⟵</a>

    <div id="infos">
        <div id="titlePoster">
            {# On affiche le poster de la série #}
            <img id="posterShow" src='{{ path('app_poster_show', {'id': series.id}) }}'>
        </div>
        {# On affiche les informations sur la série choisis #}
        <div id="infoSerie">
            <p><strong>Description : </strong>{{ series.plot }}</p>

            <p><strong>Director : </strong>{{ series.Director }}</p>

            <p><strong>Award(s) : </strong>{{ series.awards }}</p>

            <p><strong>Year start : </strong>{{ series.yearStart }}</p>

            <p><strong>Year end : </strong>{{ series.yearEnd }}</p>

            <p><strong>IMDB : </strong><a href="https://www.imdb.com/title/{{series.imdb}}">Lien IMDB</a> </p>

            <p class="notes"> <strong> Note : </strong> <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ series.externalRating.value }} </p>

            {% if series.getAverageRating() == 0 %}
                <p><strong> Note :</strong> No note </p>
            {% else %}
            <p class="notes"><strong>Note utilisateur : </strong><img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png">{{ series.getAverageRating() }}/5</p>
            {% endif %}

            {% if app.user %}
            {% set episodeCount = 0 %}
            {% set isSeasonView = true %}
            {% for seasonNumber, episodes in episodesBySeason %}
                {% for episode in episodes %}
                {{ dump(app.user.isView(episode)) }}
                    {% if app.user.isView(episode) == false %} 
                        {% set isSeasonView = false %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if isSeasonView == true %}
                <p>Vu</p>
            {% else %}
            {# if the first episode of the first season is not seen #}
            {% if app.user.isView(episodesBySeason[1][0]) == false %}
                <p>Pas vu</p>
            {% else %}
                <p>En cours</p>
            {% endif %}
            {% endif %}
            {% endif %}


            


            {% set embed_url = series.youtubeTrailer|replace({'watch?v=': 'embed/'}) %}

            <p><b>Trailer :</b></p>

            <iframe width="560" height="315" src="{{ embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>

    <table class="table">
        <tbody>
            <tr>
                <th>
                    <div id="accordion">
                        {# On parcourt les saisons et leurs épisodes #}
                        {% for seasonNumber, episodes in episodesBySeason %}
                        <div class="card">
                            {# On affiche le titre de la saison #}
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapse{{ seasonNumber }}">
                                    Saison : {{ seasonNumber }} 
                                </a>
                                {% if app.user %}
                                {% set isView = true %}
                                {% for episode in episodes %}
                                    {% if app.user.isView(episode) == false %} 
                                        {% set isView = false %}
                                    {% endif %}

                                        {% endfor %}
                                    
                                
                                {% if isView == true %}
                                        {# Permet d'enlever vu une saison choisis #}
                                        <a href="{{ path('app_season_remove_view', {'id1': series.id, 'id2': seasonNumber}) }}"><span class="eyeClosed" ><img src="https://cdn-icons-png.flaticon.com/512/2652/2652481.png"></span></a>
                                    {% else %}
                                        {# Permet de mettre vu une saison choisis#}
                                        <a href="{{ path('app_season_view', {'id1': series.id, 'id2': seasonNumber}) }}">
                                            <span class="eye" >
                                                <img src="https://cdn-icons-png.flaticon.com/512/8573/8573012.png">
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div id="collapse{{ seasonNumber }}" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="nameEpisode">
                                    {# On parcourt les épisodes de la saison #}
                                    {% for episode in episodes %}

                                        {# On affiche le titre de l'épisode #}
                                        <li>Episode {{ episode.number }} - {{ episode.title }}

                                        {# On regarde si un utilisateur est connecté #}
                                        {% if app.user %}

                                            {# On regarde si cet utilisateur a vu l'épisode #}
                                            {% if app.user.isView(episode) %}
                                                {# Permet d'enlever vu un épisode choisis #}
                                                <a href="{{ path('app_episode_remove_view', {'id1': episode.id, 'id2': series.id}) }}"><span class="eyeClosed" ><img src="https://cdn-icons-png.flaticon.com/512/2652/2652481.png"></span></a>
                                            {% else %}
                                                {# Permet de mettre vu un épisode choisis#}
                                                <a href="{{ path('app_episode_view', {'id1': episode.id, 'id2': series.id}) }}">
                                                    <span class="eye" >
                                                        <img src="https://cdn-icons-png.flaticon.com/512/8573/8573012.png">
                                                    </span>
                                                </a>
                                            {% endif %}
                                        {% endif %} 
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </th>

            </tr>
        </tbody>
    </table>

    <div class="trancheNote">
        <a class="back" href=""> 0-1 <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ratingsBetween0And1}} avi(s) </a> 
        <a class="back" href=""> 1-2 <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ratingsBetween1And2}} avi(s) </a>
        <a class="back" href=""> 2-3 <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ratingsBetween2And3}} avi(s) </a>
        <a class="back" href=""> 3-4 <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ratingsBetween3And4}} avi(s) </a>
        <a class="back" href=""> 4-5 <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ratingsBetween4And5}} avi(s) </a>
    </div>

    {% if app.user %}
        {# On test si l'utilisateur à déjà mis un commentaire/appréciation/critique sur cette séries #}
        {% if userHasRated %}
            <p>You already put an appreciation on this series</p>
        {% else %}
            <a class="linkComment" href="{{ path('app_rating_new', {'idSerie' : series.id}) }}"><img src="https://cdn-icons-png.flaticon.com/512/4922/4922073.png"> <p> Add a comment</p></a>
        {% endif %}
    {% endif %}

    

    <h1>Comments list</h1>
    <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
        <thead class="thead">
            <tr class="tr">
                <th class="th">User</th>
                <th class="th">Comment</th>
                <th class="th">Rating</th>
            </tr>
        </thead>
    </table>
    </div>
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for r in series.ratings %}
                    <tr>
                        
                        <td class="td">{{ r.user.name }}</td>
                        <td class="td">{{ r.comment }}</td>
                        <td class="td">{{ (r.value)/2 }}/5</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# Permet de revenir à la page où il y a toute les séries #}
    <a class="back" href="{{ path('app_series_index') }}">⟵</a>{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href={{ asset('css/episode.css') }} rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD">

{% endblock %}
