{% extends 'base.html.twig' %}

{% block title %}Series{% endblock %}

{% block body %}

<div id="imageSerie" style="background-image: url('{{ path('app_poster_show', {'id': series.id}) }}');">

    <h1 id="serieTitle">{{ series.title }}</h1>
        {# On affiche les genres de la série choisis #}
        <div id="genreSerie">
            {%for genre in series.genre %}
                <p class="nameGenre">{{ genre.name }}</p>
            {% endfor %}
    </div>
    {# Permet de revenir à la page où il y a toute les séries #}
    <a class="back" id='b1' href="{{ path('app_series_index') }}">⟵</a>
    <div id="infos">
        <div id="posterSerie">
            <img src="{{ path('app_poster_show', {'id': series.id}) }}">
        </div>
        {# On affiche les informations sur la série choisis #}
        <div id="infoSerie">
            <p class="notes"> 
                <a href="https://www.imdb.com/title/{{series.imdb}}"> IMDB : </a>
            {% if series.externalRating.value == "N/A/10" %}
                <p><strong> Note :</strong> No note </p>
            {% else %}
                <p class="notes"> <strong> Note : </strong> <img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png"> {{ series.externalRating.value }} </p>
            {% endif %}

            {# On regarde si la moyenne des notes des utilisateur pour une série est à 0 #}
            {% if series.getAverageRating() == 0 %}
                {# Alors on affiche que sa moyenne et de 0 #}
                <p><strong> Note :</strong> No note </p>
            {% else %}
                {# Sinon on affiche sa vrai moyenne #}
                <p class="notes"><strong>Note utilisateur : </strong><img src="https://cdn-icons-png.flaticon.com/512/6063/6063500.png">{{ series.getAverageRating() }}/5</p>
            {% endif %}

            <p><strong>Description : </strong>{{ series.plot }}</p>
            
            {# Bouton permettant se suivre un utilisateur #}
            {% if app.user %}
                {{ series.followedSeries(app.user) }}
            {% endif %}
            
            <p><strong>Trailer :</strong></p>
            {% set embed_url = series.youtubeTrailer|replace({'watch?v=': 'embed/'}) %}
            <iframe width="560" height="315" src="{{ embed_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
    {# On affiche les autres informations de la série concerné #}
    <div id="infoSerieSecondaire">
        <p><strong>Director : </strong>{{ series.Director }}</p>

        <p><strong>Award(s) : </strong>{{ series.awards }}</p>

        <p><strong>Year start : </strong>{{ series.yearStart }}</p>

        <p><strong>Year end : </strong>{{ series.yearEnd }}</p>

    </div>

    {# On regarde si un utilisateur est connecté et qu'il est admin pour pouvoir modifier une série #}
    {% if app.user and app.user.isAdmin() %}
        <a href="{{ path('app_series_edit', {'id' : series.id} ) }}"> Edit serie</a>
    {% endif %}

</div>

    

    <table class="table">
        <tbody>
            <tr>
                <th>
                    <div id="accordion">
                        {# On parcourt les saisons et leurs épisodes #}
                        {% for seasonNumber, episodes in episodesBySeason %}
                            {# Pour replier les onglet des epidodes #}
                            <input type="checkbox" class="checkbox" id="checkbox{{ seasonNumber }}">
                            <label for="checkbox{{ seasonNumber }}">

                            <div class="card-header">
                                Saison : {{ seasonNumber }} 

                                {# On regarde si un utilisateur est connecté #}
                                {% if app.user %}
                                    {% set isView = true %}
                                    {# On parcours les épisodes pour regarder si ces épisodes son en vu #}
                                    {% for episode in episodes %}
                                        {# Test si si l'utilisateur à vus l'épisode #}
                                        {% if app.user.isView(episode) == false %} 
                                            {% set isView = false %}
                                        {% endif %}
                                    {% endfor %}

                                    {# Test si un épisode est en vu #}
                                    {% if isView == true %}
                                        {# Permet d'enlever vu à une saison choisis #}
                                        <a href="{{ path('app_season_remove_view', {'id1': series.id, 'id2': seasonNumber}) }}"><span class="eyeClosed" ><img src="https://cdn-icons-png.flaticon.com/512/2652/2652481.png"></span></a>
                                    {% else %}
                                        {# Permet de mettre vu une saison choisis#}
                                        <a href="{{ path('app_season_view', {'id1': series.id, 'id2': seasonNumber}) }}">
                                            <span class="eye" >
                                                <img src="https://cdn-icons-png.flaticon.com/512/8573/8573012.png">
                                            </span>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </div>
                            </label>

                            <div class="div_box">
                            <div id="collapse{{ seasonNumber }}" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <ul class="nameEpisode">
                                    {# On parcourt les épisodes de la saison #}
                                    {% for episode in episodes %}

                                        {# On affiche le titre de l'épisode #}
                                        <li>Episode {{ episode.number }} - {{ episode.title }} - IMDB {{ episode.imdbrating}} ⭐ </li>

                                        {# On regarde si un utilisateur est connecté #}
                                        {% if app.user %}

                                            {# On regarde si cet utilisateur a vu l'épisode #}
                                            {% if app.user.isView(episode) %}
                                                {# Permet d'enlever vu un épisode choisis #}
                                                <a href="{{ path('app_episode_remove_view', {'id1': episode.id, 'id2': series.id}) }}"><span class="eyeClosed" ><img src="https://cdn-icons-png.flaticon.com/512/2652/2652481.png"></span></a>
                                            {% else %}
                                                {# Permet de mettre vu un épisode choisis#}
                                                <a href="{{ path('app_episode_view', {'id1': episode.id, 'id2': series.id}) }}">
                                                    <span class="eye" >
                                                        <img src="https://cdn-icons-png.flaticon.com/512/8573/8573012.png">
                                                    </span>
                                                </a>
                                            {% endif %}
                                        {% endif %} 
                                        </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    </div>
                </th>
            </tr>
        </tbody>
    </table>

    {# On regarde si un utilisateur est connecté #}
    {% if app.user %}
        {# On test si l'utilisateur à déjà mis un commentaire/appréciation/critique sur cette séries #}
        {% if userHasRated %}
            <p>You already put an appreciation on this series</p>
        {% else %}
            {# Si non, alors il peut ajouter une critique #}
            <a class="linkComment" href="{{ path('app_rating_new', {'idSerie' : series.id}) }}"><img src="https://cdn-icons-png.flaticon.com/512/4922/4922073.png"> <p> Add a comment</p></a>
        {% endif %}
    {% endif %}

    {# Partie pour la tranche des notes #}
    <div class="trancheNote">
        <h1>Rating</h1>
        <table class="charts-css bar multiple show-labels show-heading show-primary-axis hide-data" id="my-chart">

            {# Affichage de l'histogramme des nombres d'avis sur une note précise #}
            <tbody class="graph">
                {% for i in 0..10 %}
                    <tr class="composant">
                        <th>{{i/2}} ⭐ </th>
                        <td style="--size: calc({{criticByValue[i]}} / {{i}})"> {{criticByValue[i]}} </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <h1>Comments list</h1>
    {# gestion des filtres pour chaque tranche de notes #}
    <div class="filter">
        {% for i in 0..10 %}
            {# Sert a filtrer les critiques par rapport à une note choisi #}
            <a class="ratingFilter" href="{{ path('app_series_show', {'id' : series.id}) }}?valueChoice=0{{i}}"> {{i/2}} ⭐ : {{criticByValue[i]}} opinions </a>
        {% endfor %}
        {# Filtre pour voir tout les critique #}
        <a class="ratingFilter" href="{{ path('app_series_show', {'id' : series.id}) }}"> ALL opinions </a> 
        </div>

    {# Partie affichage de tout les critique, nom des colonne des table #}
    <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
            <thead class="thead">
                <tr class="tr">
                    <th class="th">User</th>
                    <th class="th">Comment</th>
                    <th class="th">Rating</th>
                    <th class="th">Date</th>
                </tr>
            </thead>
        </table>
    </div>

    {# Partie affichage de tout les critque modéré #}
    <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
            <tbody>
                {% for r in ratings %}
                    <tr>
                        {# On vérifie que la critique est modéré, si oui on affiche la critique sur une série #}
                        {% if r.isEstModere() and r.user.isEstSuspendu() == false %}
                            <td class="td">{{ r.user.name }}</td>
                            <td class="td">{{ r.comment }}</td>
                            <td class="td">{{ (r.value)/2 }}/5</td>
                            <td class="td">{{ r.getTime() }}</td>                        
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {# Pagination des critiques des utilisateurs #}
    <div class="navigation">
        {{ knp_pagination_render(ratings) }}
    </div>

    {# Permet de revenir à la page où il y a toute les séries #}
    <a class="back" href="{{ path('app_series_index') }}">⟵</a>{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href={{ asset('css/episode.css') }} rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
{% endblock %}
