{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/series.css') }} rel="stylesheet">
{% endblock %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>

    <div id="infos">
        <div id="titlePoster">
            <img id="posterShow" src='{{ path('app_poster_show', {'id': series.id}) }}'>

            <p>Titre {{ series.title }}</p>
        </div>
        <div id="infoSerie">
            <p>Description : {{ series.plot }}</p>

            <p>Director : {{ series.Director }}</p>

            <p>Award(s) : {{ series.awards }}</p>

            <p>Year start : {{ series.yearStart }}</p>

            <p>Year end : {{ series.yearEnd }}</p>

            <p>Trailer</p>
            <iframe width="560" height="315" src="{{ series.youtubeTrailer }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <table class="table">
        <tbody>

            <tr>
                <th>
                {% for seasonNumber, episodes in episodesBySeason %}
                    Season {{ seasonNumber }}:
                    <ul>
                        {% for episode in episodes %}
                            <li>{{ episode.title }}
                            {% if app.user %}
                                <a href="{{ path('app_episode_view', {'id': episode.id}) }}">Ajouter à ma liste</a>
                            {% endif %} 
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                </th>

            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_series_index') }}">back to list</a>
{% endblock %}
