{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/series.css') }} rel="stylesheet">
{% endblock %}

{% block title %}Series{% endblock %}

{% block body %}
    <h1>Series</h1>
    {# Permet de revenir à la page où il y a toute les séries #}
    <a href="{{ path('app_series_index') }}">back to list</a>

    <div id="infos">
        <div id="titlePoster">
            {# On affiche le poster de la série #}
            <img id="posterShow" src='{{ path('app_poster_show', {'id': series.id}) }}'>

            <p>Titre {{ series.title }}</p>
        </div>
        {# On affiche les informations sur la série choisis #}
        <div id="infoSerie">
            <p>Description : {{ series.plot }}</p>

            <p>Director : {{ series.Director }}</p>

            <p>Award(s) : {{ series.awards }}</p>

            <p>Year start : {{ series.yearStart }}</p>

            <p>Year end : {{ series.yearEnd }}</p>

            <p>Trailer</p>

            <p> Note : {{ series.externalRating.value }} </p>
            <iframe width="560" height="315" src="{{ series.youtubeTrailer }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <table class="table">
        <tbody>

            <tr>
                <th>
                {# On parcourt les saisons et leurs épisodes #}
                {% for seasonNumber, episodes in episodesBySeason %}
                    Season {{ seasonNumber }}:
                    <ul>
                        {# On parcourt les épisodes de la saison #}
                        {% for episode in episodes %}
                            {# On affiche le titre de l'épisode #}
                            <li> Episode {{ episode.number }} - {{ episode.title }} 

                            {# On regarde si un utilisateur est connecté #}
                            {% if app.user %}

                                {# On regarde si cet utilisateur est un administrateur #}
                                {% if app.user.isView(episode) %}
                                    {# Permet d'enlever vu un épisode choisis #}
                                    : Vu,  <a href="{{ path('app_episode_remove_view', {'id1': episode.id, 'id2': series.id}) }}">Enlever vue</a>
                                {% else %}
                                    {# Permet de mettre vu un épisode choisis#}
                                    <a href="{{ path('app_episode_view', {'id1': episode.id, 'id2': series.id}) }}">Marquer comme vus</a>
                                {% endif %}
                            
                            {% endif %} 
                                
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}

                </th>

            </tr>
        </tbody>
    </table>

    {# Permet de revenir à la page où il y a toute les séries #}
    <a href="{{ path('app_series_index') }}">back to list</a>
{% endblock %}
