{% extends 'base.html.twig' %}

{# Ajout de feuilles de style #}
{% block stylesheets %}
    {{ parent() }}
    <link href={{ asset('css/ficheUtilisateur.css') }} rel="stylesheet">
{% endblock %}

{% block title %}List user{% endblock %}

{% block body %}

   {# Boucle pour afficher les noms et les emails des utilisateurs que l'utilisateur connecté suit#}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

        {% for u in users %}
            <tr>
                <td>{{ u.name }}</td>
                <td>{{ u.email }}</td>
                <td> <a href="{{ path('app_user_show', {'id' : u.id} )}}">See this user's profile</a> </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}