{% extends 'base.html.twig' %} {% block title %}User index{% endblock %} {%
block body %}
<h1>Search an existing user</h1>

<form action="{{ path('app_user_index') }}" method="get">
    <input type="text" name="search" placeholder="Find a user">
    <input type="submit" value="To research">
</form>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      {% if app.user.isAdmin() %}
        <th>Registration Date</th>
        <th>Admin</th>
        <th>Country</th>
      {% endif %}
      <th>actions</th>

    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      
      {% if app.user.isAdmin() %}
        <td>
          {{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}
        </td>
        <td>{{ user.admin ? "Oui" : "Non" }}</td>
        <td>{{ user.country }}</td>

      {% endif %}
        <td>
          {% if app.user.isAdmin() %}
            <a href="{{ path('app_home', {'_switch_user': user.email}) }}">Incarnate</a>
            {% if user.admin == false %}
              <a href="user/promote/{{ user.id }}">Promote</a>
            {% else %}
              <a href="user/demote/{{ user.id }}">Demote</a>
            {% endif %}
        {% endif %}
        
          <a href="{{ path('app_user_show', {'id' : user.id} )}}">See this user's profile</a>

        </td>
      
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{# Permet de mettre en place la pagination des utilisateurs #}
<div class="navigation">
    {{ knp_pagination_render(users) }}
</div>

{% endblock %} {% block stylesheets %}
{{ parent() }}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
{% endblock %}
