{% extends 'base.html.twig' %} {% block title %}User index{% endblock %} {%
block body %}
<h1>Search an existing user</h1>

<input type="text" id="search" placeholder="List of Users">
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Registration Date</th>
      <th>Admin</th>
      <th>Country</th>
      <th>actions</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr>
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email }}</td>
      <td>
        {{ user.registerDate ? user.registerDate|date('Y-m-d H:i:s') : '' }}
      </td>
      <td>{{ user.admin ? "Oui" : "Non" }}</td>
      <td>{{ user.country }}</td>
      <td>
        <a href="">Incarnate</a>
        {% if user.admin == false %}
        <a href="user/promote/{{ user.id }}">Promote</a>
        {% else %}
        <a href="user/demote/{{ user.id }}">Demote</a>
        {% endif %}

      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="8">no records found</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %} {% block stylesheets %}
{{ parent() }}
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
{% endblock %}
