{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
    <link href={{ asset('css/ficheUtilisateur.css') }} rel="stylesheet">
{% endblock %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

        </tbody>
    </table>

    {# Tableau des séries suivi pour un utilisateur qui a était choisis #}
    <h2> Series that {{user.name}} watches </h2>
    <table class="table">
        <thead>
            <tr>
                <th>Postere</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
             {% for serie in seriesFollowed %}
                <tr>
                    <td><img id="posterShow" src='{{ path('app_poster_show', {'id': serie.id }) }}'></td>
                    <td>{{ serie.title }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    {# Mise en place de la première pagination du premier tableau #}
    <div class="navigation">
        {{ knp_pagination_render(seriesFollowed) }}
    </div>

    <h2> Critic and notes that {{user.name}} has put </h2>

    {# Tableau qui montre tout les critiques qu'il a mis dans toute les séries et sa note #}
    <table class="table">
        <thead>
            <tr>
                <th>Postere</th>
                <th>Title</th>
                <th>Note</th>
                <th>Critic</th>
            </tr>
        </thead>
        <tbody>
            {# On parcours tout les notes et critique de l'utilisateur #}
            {% for rating in ratings %}
                <tr>
                    {# Affichages des informations : poster, titre de la séries, critique mis et sa note converti sur 5 #}
                    <td><img id="posterShow" src='{{ path('app_poster_show', {'id': rating.series.id }) }}'></td>
                    <td>{{ rating.series.title }}</td>
                    <td>{{ (rating.value)/2 }}/5</td>
                    <td>{{ rating.comment }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

    {# Mise en place de la deuxième pagination du deuxième tableau #}
    <div class="navigation">
        {{ knp_pagination_render(ratings) }}
    </div>

    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
