{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ user.name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

        </tbody>
    </table>

    <h2> Sa liste de séries qui regarde </h2>

    <table class="table">
        <thead>
            <tr>
                <th>Postere</th>
                <th>Title</th>
                <th>Note</th>
                <th>Critic</th>
            </tr>
        </thead>
        <tbody>
            {% for series in series %}
                <tr>
                    <td>{{ series.poster }}</td>
                    <td>{{ series.title }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>


    <a href="{{ path('app_user_index') }}">back to list</a>
{% endblock %}
