{% extends 'base.html.twig' %}

{% block title %}NetSeries | Login{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <a href="{{ path('app_home') }}"class="logo">
        <img src={{ asset('images/logo.png') }} alt="logo">
        <p id="logo_text" href="{{  path('app_home')  }}"><strong><span>Net</span></strong>Series</p>
    </a>

    <div class="box__auth">

        <h1 class="h3 mb-3 font-weight-normal">Welcome back, binger !</h1>

        <div class="mb-3">
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus placeholder="Email">    
        </div>

        <div class="mb-3">
            <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required placeholder="Password">
        </div>
        
        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >  

        <button class="button__auth" type="submit">
            Login
        </button>

        <a href="{{ path('app_register') }}" id="label__register">First time here ? Create new account.</a>
    </div>

</form>
{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link href={{ asset('css/login2.css') }} rel="stylesheet">

{% endblock %}
