{% extends 'base.html.twig' %}

{% block title %}NetSeries | Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/login.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<form method="post">
    <a href="{{ path('app_home') }}"class="logo">
        <img src={{ asset('images/Logo.png') }} alt="logo">
        <p id="logo_text" href="{{  path('app_home')  }}"><strong><span>Net</span></strong>Series</p>
    </a>

    <div class="box__auth">
        <h1 class="h3 mb-3 font-weight-normal">Welcome, new binger !</h1>
         
        {{ form_start(registrationForm) }}
        <div class="mb-3">
        {{ form_row(registrationForm.name , {
            attr: {
                placeholder: 'Name',
                class: 'form-control',

            }
        }) }}
        </div>

        <div class="mb-3">
        {{ form_row(registrationForm.email, {
            attr: {
                placeholder: 'Email',
                class: 'form-control',
                required: 'required',
                type: "email"
            }
        }) }}

        </div>

        <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                attr: {
                    placeholder: 'Password',
                    class: 'form-control test'
                    
                }
            }) }}
            </div>

        <div class="mb-3 country">
        {{ form_row(registrationForm.country,{            
            attr: {
                placeholder: 'Country',
            }
        }) }}
        </div>
       
        <div class="mb-3 checkbox__terms">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        {{ form_row(registrationForm.captcha) }}
        {{ form_errors(registrationForm.captcha) }}

        <button class="button__auth" type="submit">Create new account</button>
        {{ form_end(registrationForm) }}

        <a href="{{ path('app_login') }}" id="label__login">Already have an account ? Login.</a>

        </div>
    </div>
</form>
{% endblock %}