{% extends 'base.html.twig' %}

{% block title %}ExternalRating index{% endblock %}

{% block body %}
    <h1>ExternalRating index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Value</th>
                <th>Votes</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% if externalRatings %}
            <tr>
                <td>{{ externalRatings.id }}</td>
                <td>{{ externalRatings.value }}</td>
                <td>{{ externalRatings.votes }}</td>
                <td>
                    <a href="{{ path('app_external_rating_edit', {'id': externalRatings.id, 'idSerie' : serie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
                <a href="{{ path('app_external_rating_new', {'idSerie' : serie.id}) }}">New external rating</a>

            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
