{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <h1>Season index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {# On parcour toute les sésons donné et on affiche ces informations#}
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }}</td>
                <td>{{ season.number }}</td>
                {# Bouton pour édité une saison et voir les épisodes associé #}
                <td>
                    <a href="{{ path('app_season_edit', {'id': season.id}) }}">edit</a>
                    <a href="{{ path('app_episode_index', {'idSeason': season.id}) }}">View all episodes</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_season_new', {'idSeries' : serie.id}) }}">Create new</a>
{% endblock %}
