{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <h1>Episode index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Imdb</th>
                <th>Imdbrating</th>
                <th>Number</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.id }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.date ? episode.date|date('Y-m-d') : '' }}</td>
                <td>{{ episode.imdb }}</td>
                <td>{{ episode.imdbrating }}</td>
                <td>{{ episode.number }}</td>
                <td>
                    <a href="{{ path('app_episode_edit', {'id': episode.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_episode_new', {'idSeason' : season.id}) }}">Create new</a>
{% endblock %}
